<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Cosmos</title>
</head>
<body>

    <h2>Welcome to the shores of the cosmic ocean!</h2>
    <hr>
    <!-- Display username and role -->
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>

    <div sec:authorize="hasRole('MANAGER')">
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for managers)
    </p>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/systems}">Admin Meeting</a>
        (Only for admins)
    </p>
    </div>
    <hr>

    <!--Logout Button-->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>